<div class="f-card">
    <div class="header">
        <div class="option"><i class="far fa-chevron-double-down"></i></div>
        <img src="assets/duke.jpg" class="co-logo" alt="image">
        <div class="co-name"><a href="">Java Juke</a></div>
        <div><a href="">2hrs</a> . <i class="fas fa-globe"></i></div>
    </div>

    <div class="content">
        <p>Angular and Java have greate history together.Combined,They are wonders</p>
    </div>

    <div class="reference">
        <img src="assets/cover.jpg" class="reference-thum" alt="image">
        <div class="content">
            <div class="reference-title">Angular and Java - Wonders beyond imagination</div>
            <div class="reference-subtitle">Angular and Java have greae history together.Combined,
                They are wonders.</div>
            <div class="reference-font">duke.com</div>
        </div>
    </div>

    <div class="social">
        <div class="social-content"></div>
        <div class="social-buttons">
            <span><i class="fal fa-thumbs-up"></i></span>
            <span><i class="fas fa-comment"></i></span>
            <span><i class="fal fa-share"></i></span>
        </div>
    </div>

</div>
