
<div class="container mt-3">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search Text">

  </div>

  <p class="content-text" appHighlight [highlightText]="searchText">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi iusto impedit est pariatur id enim ea, delectus qui natus consectetur quasi ipsa, odio similique eum consequatur officiis voluptates, exercitationem numquam?

  </p>

</div>

