<div class="container">
  <div class="add-section">
    <div class="input-group">
      <select [(ngModel)]="selectedFruit" name="" id="">
        <option value="">Choose.....</option>
        <option *ngFor="let fruit of fruits" value="{{fruit}}">{{fruit}}</option>
      </select>

      <div class="input-group-append">
        <button [disabled]="!selectedFruit" type="button"
        class="btn btn-outline-secondary" (click)="addSelectedFruitToBusket()">Add To Busket</button>
      </div>

    </div>
  </div>

  <div class="page-section">
    <h2>Bucket<i class="metrial-icons">shoping_cart</i></h2>
    <div class="fruits">
      <ng-container *ngIf="bucket.length > 0; else bucketEmptyMessage">
        <div class="fruits__item" *ngFor="let item of bucket">
        <div class="fruits__item__title">{{item.name}}</div>
        <div class="fruits__item__delete-icons" (click)="deletedFromBusket(item)">
          <div class="meterial-icons">delete</div>
        </div>
        </div>
      </ng-container>
      <ng-template #bucketEmptyMessage>
        <div class="fruits__no-times-msg">
          No item in bucket.Add some fruits!
        </div>
      </ng-template>
    </div>
  </div>

</div>
